@import "tailwindcss";

@layer base {
  body {
    background-color: #020617; /* slate-950 */
    color: #f8fafc; /* slate-50 */
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  
  html {
    scroll-behavior: smooth;
  }
}
